body{
    font-family: Arial, Helvetica, sans-serif;
    
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --purple: #6f2cff;
    --ligth-purple: #efe9f9;
    --red-heart: #a50954;
    --blue 
}