button {
    width: 300px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color: rgba(0, 38, 163, 0.322);
}

.boton-click{
    width: 150px;
} 

button:hover {
    background-color: #DCDCE5;
    color: #FF872C;
}